<div class="password-row">
  <button class="password-row__site" type="button"
    [attr.aria-label]="'View details for ' + siteName()"
    (click)="detailsRequested.emit()">
    <span class="password-row__icon" aria-hidden="true">
      @if (shouldShowFavicon()) {
        <img
          class="password-row__favicon"
          [src]="faviconUrl()"
          alt=""
          (error)="handleFaviconError()"
        />
      } @else {
        <fa-icon
          class="password-row__favicon-fallback"
          [icon]="faGlobe"
          aria-hidden="true"
        />
      }
    </span>

    <span class="password-row__name" [title]="displayedSiteName()">{{ displayedSiteName() }}</span>
  </button>
  <button class="button button--icon password-row__details" type="button"
    [attr.aria-label]="'View details for ' + siteName()"
    (click)="detailsRequested.emit()">
    <fa-icon [icon]="faChevronRight" aria-hidden="true" />
  </button>
</div>
