<nav aria-label="Main navigation">
  <section class="navigation-section">
    <h2>Overview</h2>

    <ul>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <fa-icon
            class="navigation-icon"
            [icon]="faChartPie"
            aria-hidden="true"
          />
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
  </section>

  <section class="navigation-section">
    <h2>Tools</h2>

    <ul>
      <li>
        <a
          routerLink="/password-generator"
          routerLinkActive="is-active"
        >
          <fa-icon
            class="navigation-icon"
            [icon]="faKey"
            aria-hidden="true"
          />
          <span>Password Generator</span>
        </a>
      </li>
    </ul>
  </section>

  <section class="navigation-section">
    <h2>Account</h2>

    <ul>
      <li>
        <a href="#!" (click)="$event.preventDefault()">
          <fa-icon
            class="navigation-icon"
            [icon]="faUser"
            aria-hidden="true"
          />
          <span>Profile</span>
        </a>
      </li>

      <li>
        <a href="#!" (click)="$event.preventDefault()">
          <fa-icon
            class="navigation-icon"
            [icon]="faGear"
            aria-hidden="true"
          />
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </section>
</nav>