<nav aria-label="Main navigation">
  <section class="navigation-section">
    <h2>Overview</h2>

    <ul>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="is-active"
          ariaCurrentWhenActive="page"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="linkSelected.emit()"
        >
          <fa-icon
            class="navigation-icon"
            [icon]="faTableCellsLarge"
            aria-hidden="true"
          />
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
  </section>

  <section class="navigation-section">
    <h2>Tools</h2>

    <ul>
      <li>
        <a
          routerLink="/password-generator"
          (click)="linkSelected.emit()"
          routerLinkActive="is-active"
          ariaCurrentWhenActive="page"
        >
          <fa-icon
            class="navigation-icon"
            [icon]="faWandMagicSparkles"
            aria-hidden="true"
          />
          <span>Password Generator</span>
        </a>
      </li>
    </ul>
  </section>

</nav>
