:host {
  display: block;
}

.mobile-navigation {
  display: none;
  padding: 1.25rem 0.875rem;
  border-bottom: 1px solid var(--color-border-layout);
  background-color: var(--color-surface);
  box-shadow: 0 0.5rem 1rem var(--color-shadow-subtle);
}

.mobile-navigation.is-open {
  display: block;
}

@media (min-width: 48.0625rem) {
  :host {
    display: none;
  }
}