:host {
  display: block;
  position: absolute;
  top: 4rem;
  right: 0;
  left: 0;
  z-index: 1;
}

.mobile-navigation {
  display: none;
  padding: 1rem;
  border-bottom: 1px solid;
  background-color: white;
}

.mobile-navigation.is-open {
  display: grid;
}

@media (min-width: 48.0625rem) {
  :host {
    display: none;
  }
}