:host {
  display: block;
}

.card {
  padding: 2rem;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-surface);
  box-shadow: var(--shadow-surface);
}

.card__content {
  width: 100%;
  max-width: 35rem;
  margin-inline: auto;
}

:host(.card--large) .card {
  padding: 5rem;
}

:host(.card--no-radius) .card {
  border-radius: 0;
}

:host(.card--full-width) {
  width: 100%;
}
