:host {
  display: block;
  min-height: 100dvh;
}

.app-content {
  position: relative;
  min-height: 100dvh;
  min-width: 0;
  background-color: #f8fafc;
}

@media (min-width: 48.0625rem) {
  .app-content {
    margin-left: 16rem;
  }
}