<app-sidebar [username]="username()" />

<main class="app-content">
  <app-header
    #header
    [username]="username()"
    [isNavigationOpen]="isMobileNavigationOpen()"
    [pageLabel]="pageLabel()"
    (navigationToggled)="toggleMobileNavigation()"
    (keydown.escape)="closeMobileNavigation(header)"
  />

  <app-mobile-navigation
    [username]="username()"
    [isOpen]="isMobileNavigationOpen()"
    (navigationClosed)="closeMobileNavigation(header)"
    (keydown.escape)="closeMobileNavigation(header)"
  />

  <router-outlet />
</main>
<app-folder-manager />
