@use 'styles/inputs';
@use 'styles/buttons';

:root {
  font-family: 'Inter', system-ui, sans-serif;
  color: #334155;
  background-color: #f8fafc;
}

button,
input,
select,
textarea {
  font: inherit;
}

body {
  margin: 0;
}