@use 'styles/colors';
@use 'styles/inputs';
@use 'styles/buttons';

:root {
  font-family: 'Inter', system-ui, sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-page-background);
}

button,
input,
select,
textarea {
  font: inherit;
}

body {
  margin: 0;
}