<dialog
  #dialog
  aria-labelledby="password-dialog-title"
  (click)="onBackdropClick($event)"
>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <h2 id="password-dialog-title">
      {{ editingEntry() ? 'Edit password' : 'Add password' }}
    </h2>

    <app-floating-input
      id="site"
      label="Site"
      autocomplete="off"
      formControlName="siteName"
    />

    <app-floating-input
      id="password"
      label="Password"
      type="password"
      autocomplete="new-password"
      formControlName="password"
    />

    @if (errorMessage()) {
      <p role="alert">{{ errorMessage() }}</p>
    }

    <button type="submit" [disabled]="isSubmitting()">
      @if (isSubmitting()) {
        {{ editingEntry() ? 'Saving...' : 'Adding...' }}
      } @else {
        {{ editingEntry() ? 'Save changes' : 'Add' }}
      }
    </button>
  </form>
</dialog>