<dialog
  #dialog
  aria-labelledby="password-dialog-title"
  (click)="onBackdropClick($event)"
>
  <form
    ngNativeValidate
    class="password-dialog__form"
    [formGroup]="passwordForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 id="password-dialog-title">
      {{ editingEntry() ? 'Edit password' : 'Add password' }}
    </h2>

    <app-floating-input
      id="site"
      label="Site"
      type="url"
      autocomplete="url"
      placeholder="https://"
      fillOnTab="https://"
      [invalid]="
        passwordForm.controls.siteName.touched &&
        passwordForm.controls.siteName.invalid
      "
      formControlName="siteName"
    />

    <app-floating-input
      id="password"
      label="Password"
      type="password"
      autocomplete="new-password"
      [invalid]="
        passwordForm.controls.password.touched &&
        passwordForm.controls.password.invalid
      "
      formControlName="password"
    />

    @if (
      (passwordForm.controls.siteName.touched &&
        passwordForm.controls.siteName.invalid) ||
      (passwordForm.controls.password.touched &&
        passwordForm.controls.password.invalid) ||
      errorMessage()
    ) {
      <div class="password-dialog__errors" role="alert">
        @if (
          passwordForm.controls.siteName.touched &&
          passwordForm.controls.siteName.hasError('required')
        ) {
          <p>A site URL is required.</p>
        } @else if (
          passwordForm.controls.siteName.touched &&
          passwordForm.controls.siteName.hasError('pattern')
        ) {
          <p>Enter a valid URL beginning with http:// or https://.</p>
        }

        @if (
          passwordForm.controls.password.touched &&
          passwordForm.controls.password.hasError('required')
        ) {
          <p>A password is required.</p>
        }

        @if (errorMessage()) {
          <p>{{ errorMessage() }}</p>
        }
      </div>
    }

    <button
      class="button button--primary button--full-width"
      type="submit"
      [disabled]="isSubmitting()"
    >
      @if (isSubmitting()) {
        {{ editingEntry() ? 'Saving...' : 'Adding...' }}
      } @else {
        {{ editingEntry() ? 'Save changes' : 'Add' }}
      }
    </button>
  </form>
</dialog>